.body-content {
  display: flex;
  margin-top: 120px;

  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.module {

  display: flex;
  background-color: #818496b0;
  box-shadow: 0 0 10px rgba(89, 96, 80, 0.1);
  padding: 100px;
  border-radius: 1000px;

}

h1 {
  text-align: center;
  color: #333333;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #eee4e4;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

/* Style the submit button on hover */
input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style error messages */
.alert-error {
  color: #ff0000;
  margin-bottom: 10px;
}
body {
  
  background-image: url('https://img.freepik.com/premium-photo/open-book-background-shelf-with-books_8119-1486.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}